<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/application.js"></script>
    <script type="text/javascript" src="/plinko.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/plinko.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>JS Raffler</title>
  </head>
  <body>

    <% numContestants = entrants.length %>
    <span id="numContestants"><%= numContestants %></span>

    <table>
      <tr>
      <% for (var j = 0; j <= 32; j++) { %>
          <tr>
              <% for(var i = 0; i < numContestants; i++){ %>
                <td></td> <td></td>
              <% } %>
          </tr>
          <tr>
            <% for(var i = 0; i < numContestants; i++){ %>
              <td class="blue"></td> <td></td>
            <% } %>
          </tr>
          <tr>
            <% for(var i = 0; i < numContestants; i++){ %>
              <td></td> <td></td>
            <% } %>
          </tr>
          <tr>
            <% for(var i = 0; i < numContestants; i++){ %>
              <td></td> <td class="blue"></td>
            <% } %>
          </tr>
      <% } %>
      <tr id='fixed-row'>
      <% for(var i = 0; i < numContestants; i++){ %>
      <td colspan="2" class="nametext" id=<%= entrants[i].id %>><%= entrants[i].username.split('').splice(0,4).join(''); %></td>
      <% } %>
    </table>

      <div id='button-div'>
     <% if (raffle.active) { %>
      <form class="login" action="/raffles/<%= raffle.id %>" method="get">
        <input type="submit" name="submit" value="Start Next Raffle Round">
      </form>
    <% } %>

    <% if (raffle.active) { %>
      <form class="login" action="/raffles/<%= raffle.id %>/end" method="post">
        <input type="submit" name="submit" value="End Raffle">
      </form>
    <% } else { %>
      <form class="login" action="/raffles" method="get">
        <input type="submit" name="submit" value="Exit Raffle">
      </form>
    <% } %>
    </div>

  </body>
  <footer>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">X</span>
        <p id="message_winner">Winner</p>
        <!-- <p>Sponsor</p> -->
      </div>
  </footer>
</div>
</html>
