<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>JS Raffler</title>
  </head>
  <body>
<p>Raffle #: <%= raffle.id %></p>
<p>Date: <span><%= raffle.date %></span></p>

<% if (entrants && entrants.length > 0) { %>
  <ul>
      <lh>Eligible Entrants At End of Raffle:</lh>

    <% for ( var i = entrants.length - 1; i >= 0; i--) { %>
      <li><%= entrants[i].username %></li>
    <% } %>
  </ul>
<% } else { %>
  <p>No registered entrants</p>
<% } %>

<% if (previous_winners && previous_winners.length > 0) { %>
  <ul>
    <lh>Winners in Previous Rounds:</lh>
    <% for ( var i = 0; i < previous_winners.length; i++) { %>
      <li><%= previous_winners[i].username %> | Ticket# <%= previous_winners[i].id.split('').splice(0,6).join('') %></li>
    <% } %>
  </ul>
<% } %>


<form action="/raffles" method="get">
  <input type="submit" name="submit" value="Exit Raffle">
</form>
